.login-body {
  display: flex;
  flex-direction: column;
  background-color: gray;
  margin: 10px;
  max-width: 600px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0.75);
  border-radius: 5px;
  padding: 10px;
}

img {
  border-radius: 5px 5px 0 0;

  max-width: 100%;
  max-height: 100%;
}

form {
  padding: 10px;
  text-align: center;
}

label,
input {
  display: grid;
  text-align: left;
  box-sizing: border-box;
}

input {
  font: inherit;
  border-radius: 4px;
  border: 1px solid white;
  width: 100%;
  padding: 10px;
}

/* button {
  background-color: blue;
} */

/* CSS */
button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;

  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}
